.Header {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 1000;
  font-family: helvetica, arial;
  border-bottom: 3px;
}

button {
  margin-right: 1rem;
}
h3 {
  margin-left: 1rem;
}
