.TermsAndConditions {
  background-color: white;
  text-align: center;
  margin-bottom: 6px;
  font-size: 16px;
}

h1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

p {
  text-align: left;
}

strong {
  text-decoration: underline;
}
