.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  border: 1px solid red;
  height: 100vh;
  /* width: 100; */

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    'a c'
    'b c'
    'd c';
}

.header {
  background-color: rgb(233, 207, 212);
  grid-area: a;
}
.main {
  background-color: rgb(240, 212, 234);
  grid-area: b;
}

.footer {
  position: relative;
  background-color: rgb(255, 255, 255);
  grid-area: d;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  margin-bottom: 40px;
  left: 0;
}
a:link {
  text-decoration: none;
  color: rgb(120, 123, 208);
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: darkblue;
}
a:active {
  text-decoration: none;
  color: turquoise;
  flex-direction: row;
  justify-content:center;
}
